/* File Upload Button */
#upload-image {
  margin-top: 15px;
  display: block;
  color: white;
  background: rgb(0, 127, 255);
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#upload-image:hover {
  background: rgb(0, 100, 200);
}

/* Image Styling */
#profile-pic {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

#profile-pic:hover {
  transform: scale(1.05);
}
